<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details Entered Successfully</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Details Entered Successfully</h1>
        </header>

        <div class="confirmation-message">
            <p>Dont worry! {{name}} The details have been successfully entered.</p>
            <p>our team will be there at {{location}} in few minutes</p>
            <!-- You can display additional information or provide links/buttons here -->
        </div>
    </div>
</body>

</html>
